<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#tab001">
				<img src="{{page.resources}}/img/jenkins-32.png"
				style="padding-right: 15px" /><b>Writing a Jenkins plugin</b>
			</a>
		</h4>
	</div>
	<div id="tab001" class="panel-collapse collapse">
		<div class="panel-body">
			Jenkins is a powerful open source continuous integration tools that
			enables you to automatically build and test your software projects
			(among many other things). If you use Jenkins, you surely have
			already installed a lot of plugins that answer more or less to your
			needs. But have you ever tried to develop your own plugin?<br /> <br />
			<b>This note provides a quick sum up of the basic steps to write
				your own Jenkins plugin.</b>
			<div class="panel panel-default" style="margin: 30px;">
				<div class="panel-heading">
					<h4 style="padding-bottom: 10px;">
						<b>Content</b>
					</h4>
					<a href="tech/writing-a-jenkins-plugin/01-project-setup.html"
						style="margin-left: 40px;">1. Project setup</a><br />
					<a href="tech/writing-a-jenkins-plugin/02-test-your-plugin.html"
						style="margin-left: 40px;">2. Test your plugin</a><br />
					<a href="tech/writing-a-jenkins-plugin/03-deploy-your-plugin.html"
						style="margin-left: 40px;">3. Deploy your plugin</a><br />
				</div>
			</div>
			<b>Want to have a look at a simple custom Jenkins plugin ?</b> <br />
			<img src="{{page.resources}}/img/github-32-black.png" /> <a
				href="https://github.com/bmiegemolle/git-build-data-plugin">https://github.com/bmiegemolle/git-build-data-plugin</a>
		</div>
	</div>
</div>
