---
layout: default
title: Bernard Miegemolle / Technical notes
resources: resources
tech: tech
techClass: class="active"
file: tech.html
---

<div class="well well-sm">
	<h1>
		<img src="{{page.resources}}/img/tech-64.png" width="48px"
			style="margin-left: 20px; margin-right: 20px" /> Technical notes
	</h1>
</div>

<div class="panel-group" id="accordion">

{% include tech/writing-a-jenkins-plugin.html %}
{% include tech/change-the-android-emulator-system-date-and-time.html %}
{% include tech/programmatically-hide-the-soft-keyboard.html %}

</div>